@(artist: models.Artist)

@display(song: models.Song)={
    <div class="section">
        <div class="card grey lighten-2" align="center">
            <strong>@song.getTitle()</strong>
            <br>
            <audio controls preload="auto" src="@song.getUri()" type="audio/mpeg"> </audio>
            @helper.form(action=controllers.routes.SongController.delete(song.getUri(), artist.getUsername())){
            @helper.CSRF.formField
            <input type="submit" value="Delete Song">
            }
        </div>

    </div>
}

@main("Informacion"){


<div class="container" >


        <div class="card grey lighten-2" align="center">
            <div class="section">
            @artist.getUsername()
            <br>
            name: @artist.getName() @artist.getLastname()
            <br>
            pass: @artist.getPass()
            <br>
        </div>

        <div class="section">
            @helper.form(action = controllers.routes.ArtistController.uploadSong(artist.getUsername())){
            @helper.CSRF.formField
            <input type="submit" class="btn waves-effect waves-light" value="Upload Song">
            }
        </div>

        <div class="section">
            @helper.form(action = controllers.routes.ArtistController.edit(artist.getUsername())){
            @helper.CSRF.formField
            <input type="submit" class="btn waves-effect waves-light" value="Edit Account">
            }
        </div>
        <div class="section">
            @helper.form(action = controllers.routes.ArtistController.delete(artist.getUsername())){
            @helper.CSRF.formField
            <input type="submit" class="btn waves-effect waves-light" value="Delete Account">
            }
        </div>
        </div>



    @if(!artist.getSongs().isEmpty()){
    @for(songs <- artist.getSongs()){
    @display(songs)
    }
    }
</div>


}

